<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name ="TableList" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="fromDB" value="SQLite"/>
    <add key="toDB" value="SQLServer"/>

    <add key="prefix" value=""/>
    <add key="suffix" value="DATADEC"/>
  </appSettings>

  <TableList>
    <add key="EXMOB_VENTA_CAB"            value="EXMOB_VENTA_CAB"/>
    <add key="EXMOB_VENTA_DET"            value="EXMOB_VENTA_DET"/>
    <add key="EXMOB_ESTADO_TRANSMISION"   value="EXMOB_ESTADO_TRANSMISION"/>
    <add key="EPALI_CLIENTE_SUCURSAL"     value="EPALI_CLIENTE_SUCURSAL"/>
    <add key="EPALI_CABECERA_COMPOSICION" value="EPALI_CABECERA_COMPOSICION"/>
    <add key="EPALI_CUERPO_COMPOSICION"   value="EPALI_CUERPO_COMPOSICION"/>
    <add key="EPALI_EMPRESA"              value="EPALI_EMPRESA"/>
    <add key="EPALI_FAMILIA"              value="EPALI_FAMILIA"/>
    <add key="EPALI_ARTICULO"             value="EPALI_ARTICULO"/>
    <add key="EPALI_PROMOCION_PRECIO"     value="EPALI_PROMOCION_PRECIO"/>
    <add key="EPALI_REPRESENTANTE"        value="EPALI_REPRESENTANTE"/>
    <add key="EPALI_TARIFA_CAB"           value="EPALI_TARIFA_CAB"/>
    <add key="EPALI_TARIFA_DET"           value="EPALI_TARIFA_DET"/>
  </TableList>

  <connectionStrings>
    <add name="SQLServerConnectionString" connectionString="Data Source=GOLLUM;Initial Catalog=;User ID=;Password="/>
    <add name="SQLiteConnectionString" connectionString="Filename=X:\Publico\Ivan\SQLLite_BBDD\dbepali.db"/>
  </connectionStrings>


</configuration>