<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TableListConfig" type="Octopus.modules.ConfigurationSettings.TableConfig, Octopus"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="fromServer" value="SQLite"/>
    <add key="toServer" value="SQLServer"/>
    
    <add key="fromDB" value=""/>
    <add key="toDB" value="MAXI"/>

    <!--<add key="suffix" value=""/>-->
    <add key="prefix" value="DATADEC"/>
  </appSettings>

  <!-- name (REQUIRED) -> tableName ||| fromServer (OPT) -> serverName where from where it will be read (has to match db definitions) ||| toServer (OPT) -> serverName where from where it will be stored (has to match db definitions) ||| fromdatabase (OPT) -> db name from where it will be read-->
  <TableListConfig>
    <tables>
      <add name="EXMOB_VENTA_CAB"></add>
      <add name="EXMOB_VENTA_DET"/>
      <add name="EXMOB_ESTADO_TRANSMISION"/>
      <add name="EPALI_CLIENTE_SUCURSAL"/>
      <add name="EPALI_CABECERA_COMPOSICION"/>
      <add name="EPALI_CUERPO_COMPOSICION"/>
      <add name="EPALI_EMPRESA"/>
      <add name="EPALI_FAMILIA"/>
      <add name="EPALI_ARTICULO"/>
      <add name="EPALI_PROMOCION_PRECIO"/>
      <add name="EPALI_REPRESENTANTE"/>
      <add name="EPALI_TARIFA_CAB"/>
      <add name="EPALI_TARIFA_DET"/>
    </tables>
  </TableListConfig>

  <connectionStrings>
    <add name="SQLServerConnectionString" connectionString="Data Source=;Initial Catalog=;User ID=;Password="/>
    <add name="SQLiteConnectionString" connectionString="Filename="/>
  </connectionStrings>


</configuration>